#bio-pic{
    width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}
h1{
    font-weight: 650 !important;
    color: rgb(9, 36, 21);
    line-height: 2rem;
    font-size: larger;
}
div{
    justify-content: center;
    align-content: center;
    align-items: center;
}
footer,
header{
    background-color: rgba(200, 231, 202, 0.5);
}
footer{
    color: rgb(6, 32, 18);
    padding-top: 12px;
    padding-bottom: 0px !important;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}
.navbar{
    height: 57.5px !important;
    width: 100vw !important;
}
.h-name{
    padding-top: 15px;
}
.h-quote{
    padding-top: 25px;
}
.tect-badge{
    object-fit: cover;
    max-width: 55% !important;
    min-width: 50px !important;
    max-height: 55% !important;
    margin: 5px;
}
#bio-text,
.logo-tech-links{
    z-index: 8;
    position: absolute;
    left: 17vw;
    width: 70vw;
    height: auto;
    background-image: linear-gradient(-20deg, rgb(0, 143, 105, 0.85), rgb(200, 231, 202,0.65));
    border: rgb(143, 188, 143, 0.75) 15px outset;
}
#bio-text{
    text-shadow: -0.6px 0.6px rgb(126, 126, 126);
    font-size: 115%;
    font-weight: 145%;
}

#bio-text,
.full-slider,
.logo-tech-links{
    top: 220px;
}

@media screen and (max-width: 950px){
    #bio-pic{
        width: 150px;
        height: 170px;
    }
    #bio-text,
    .logo-tech-links{
        width: 85vw;
        left: 8vw;
    }
}

@media screen and (max-width: 600px){
    #bio-pic{
        width: 120px;
        height: 140px;
    }
    header{
        background-color: rgba(0, 0, 0, 0);
        color: rgb(107, 204, 167);
        text-shadow: 0.35px 0.35px 0.75px rgb(23, 63, 23);
    }
    .h-name{
        padding-top: 43vh;
    }
    h1{
        color: rgb(44, 170, 128);
        text-shadow: 0.65px 1px 1px rgb(55, 75, 49);
    }
    h1.display-4{
        font-size: 35px;
        color: rgb(44, 170, 128);
        text-shadow: 0.65px 1px 1px rgb(55, 75, 49);
        font-weight: 550 !important;
    }
    .logo-tech-links{
        width: 92vw;
        left: 5vw;
        top: 200px;
        border: rgb(143, 188, 143, 0.5) 5px outset;
        background-image: linear-gradient(-20deg, rgb(0, 143, 105, 0.25), rgb(200, 231, 202,0.25));
    }
    #bio-text{
        width: 100vw;
        top: 195px;
        left: 0px;
        border: none;
        background-image: linear-gradient(-20deg, rgb(0, 143, 105), rgb(200, 231, 202));
    }
    .lead{
        padding: 0px;
        margin: 0px;
    }
    .h-quote,
    .lead,
    .quote-source{
        padding-top: 0px;
        font-size: 12px;
    }
    footer{
        padding-top: 3px;
    }
}