#bio-pic{
    width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}
h1{
    font-weight: 650 !important;
    color: rgb(9, 36, 21);
    line-height: 3rem;
    font-size: larger;
}
div{
    justify-content: center;
    align-content: center;
    align-items: center;
}
footer,
header{
    background-color: rgb(200, 231, 202);
}
footer{
    color: gray;
    padding-top: 10px;
    padding-bottom: 0px !important;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}
.navbar{
    height: 57.5px !important
}
.h-name{
    padding-top: 15px;
}
.h-quote{
    padding-top: 25px;
}
.tect-badge{
    object-fit: cover;
    max-width: 55% !important;
    max-height: 55% !important;
    margin: 5px;
}
#bio-text,
.logo-tech-links{
    z-index: 8;
    position: absolute;
    top: 28.5vh;
    left: 16vw;
    width: 70vw;
    height: auto;
    background-image: linear-gradient(-20deg, rgb(0, 143, 105, 0.85), rgb(200, 231, 202,0.65));
    border: rgb(143, 188, 143, 0.75) 15px outset;
}
#bio-text{
    text-shadow: -0.6px 0.6px rgb(126, 126, 126);
    top: 33vh;
    font-size: 115%;
    font-weight: 145%;
}