.App {
  text-align: center;
}
body{
  background-attachment: fixed;
  margin: 0px auto!important;
  min-height: 100vh;
  overflow: visible;
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 60px;
}
html{
  width: 100% !important;
  padding: 0 1% 0 1% !important;  
  background-image: url(./images/00000-space-4678685_960_720.jpg);
  background-size: cover;
}