.App {
  text-align: center;
}
body{
  background-attachment: fixed;
  margin: 0px auto!important;
  height: 100vh;
  background-image: linear-gradient(#f8f9fa,#f8f9fa, #bfc2bf);
}
html{
  width: 100% !important;
  padding: 0 1% 0 1% !important;  
  background-color: rgb(18, 44, 24);
}