.App {
  text-align: center;
}
body{
  background-attachment: fixed;
  margin: 0px !important;
}
html{
  width: 100% !important;
  padding: 0 1% 0 1% !important;  
  background-color: rgb(18, 44, 24);
}